*{
  margin: 0;
  padding: 0;
}

.mainLogin{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-color: black;
  border: 5px;
  background-color: white;
}

.img-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
}

.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
}

.input-group{
  top: 180px;
  position: relative;
  width: 280px;
  transition: .5s;
}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn{
 width: 85%;
 padding: 10px 30px;
 cursor: pointer;
 display:block;
 margin: auto;
 background: whitesmoke;
 border: 0;
 outline: none;
 border-radius: 30px;
}