.main-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.body-right {
  background: white;
  float: right;
  right: 0;
  margin: 20px;
  max-width: 700px;
  min-width: 300px;
}

.logOutBar {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}

.database {
  text-align: center;
  padding: 20px;
}

.logOut {
  width: 100px;
}

.inputURI,
.copyURL {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  padding: 20px 20px 0;
}
input {
  width: 750px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
}
button {
  font-size: clamp(10px, 4vw, 20px);
  background-color: white;
  border-radius: 50px;
  width: 30px;
}

.sideTableWrapper {
  max-width: 500px;
  min-width: 300px;
  width: 0.8rem;
}
.sideValueButton {
  width: 0.8rem;
  max-width: 500px;
  min-width: 300px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: clamp(1px, 1vw, 18px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sideTable {
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 0 40px 0;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
.sideTable::-webkit-scrollbar {
  display: none;
}

.sideTableContainer {
  overflow: scroll;
  height: 100vh;
}

.sideTableContainer::-webkit-scrollbar {
  display: none;
}

.sideTable h2 {
  position: absolute;
  background-color: white;
}
.sideTableName {
  width: 100%;
  margin: auto;
  text-align: center;
}
img {
  width: 100%;
}
.card  /*, .sideBar */ {
  display: inline-block;
  max-width: 500px;
  min-width: 150px;
  border: 2px solid rgb(82, 82, 82);
  border-radius: 5px;
  text-align: center;
  /* background-color: rgb(232, 251, 246); */
  margin: 10px 10px;
  vertical-align: top;
  width: 0.8rem;
}
/* .sideBar {
  width: 275px;
 
  border: none;
}
*/

.tableButton {
  max-width: 500px;
  min-width: 130px;
  width: 0.8rem;
  background-color: rgb(232, 251, 246);
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: clamp(1px, 1vw, 18px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto;
}
.columnButton {
  max-width: 500px;
  min-width: 150px;
  width: 0.8rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 5px;
  /* font-size: 1.5em; */
  font-size: clamp(1px, 1vw, 18px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tableName {
  padding: 10px;
  font-size: clamp(10px, 4vw, 20px);
  text-overflow: ellipsis;
}

.loginLogo {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
/*testing css*/

.mainLogin {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-color: black;
  border: 5px;
}

.img-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
}
*/ .form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
}

.input-group {
  top: 180px;
  position: relative;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.primary-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #6846ed;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.secondary-btn {
  margin: auto;
  background: #1abc9c;
}
